@using Entities;
@using Entities.Enums;
@model List<Attendance>

@{
    ViewData["Title"] = "AbsencesByTermFilter";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .card {
        width: 250px;
        height: 200px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin: 20px 10px;
        float: left;
    }

    .card-header,
    .card-header2,
    .card-header3 {
        background-color: #3498db;
        color: #fff;
        padding: 6px;
        text-align: center;
    }

    .card-body {
        padding: 12px;
        text-align: center;
    }
</style>

<div class="text-center mb-4">
    <h1 class="display-4 font-weight-bold text-primary"> Öğrenci Devamsızlık Bilgileri</h1>
</div>

<div class="text-center mb-8">
    <h1 class="display-4">
        @if (ViewBag.TermDate != null)
        {
            var termDate = ViewBag.TermDate as Term;
            <text>Dönem : @termDate.StartDate.Year - @termDate.EndDate.Year</text>
        }

    </h1>
</div>

<div>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Devamsızlık Tarihi</th>
                    <th scope="col">Toplam Devamsızlık Ders Saati</th>
                    <th scope="col">Devamsızlık Türü</th>
                    <th scope="col">Devamsızlık Sebebi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Date.ToShortDateString()</td>
                        <td>
                            @if (item.AttendanceTotalLectureHour == null)
                            {
                                <span class="text-danger">Öğrenci tam gün devamsızlık yapmıştır.</span>
                            }
                            else
                            {
                                <span class="text-success">Öğrenci @item.AttendanceTotalLectureHour.ToString() ders saati devamsızlık yapmıştır. </span>
                            }
                        </td>
                        <td>
                            @if (item.AttendanceType == AttendanceType.TamGün)
                            {
                                <span class="text-danger">Tam Gün</span>
                            }
                            else if (item.AttendanceType == AttendanceType.YarımGün)
                            {
                                <span class="text-success">Yarım Gün</span>
                            }
                        </td>

                        <td style="color:red">@item.ExcuseType</td>
                    </tr>
                }
            </tbody>
        </table>
    
</div>

