@model List<PersonViewModel>

@{
    ViewData["Title"] = "StudentList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div asp-validation-summary="ModelOnly" class="alert-danger"></div>
<table id="studentTable" class="table table-striped">
    <thead>
    <tr>
    <th>Id</th>
    <th>İsim</th>
    <th>Soyisim</th>
    <th>Öğrenci Numarası</th>
    <th>Sınıf</th>
    <th>Şube</th>
    <th></th>
    <th></th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
    <td>@item.Id</td>
    <td>@item.Name</td>
    <td>@item.Surname</td>
    <td>@item.StudentNumber</td>
    <td>@item.Grade</td>
    <td>@item.Branch</td>
                <td><a asp-area="Admin" asp-action="StudentDetailsList" asp-controller="Admin" asp-route-Id="@item.Id" class="btn btn-outline-danger"> Detaylar</a></td>
                <td> <a asp-area="Admin" asp-action="EditStudent" asp-controller="Admin" asp-route-Id="@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                <td><a asp-area="Admin" asp-action="DeleteStudent" asp-controller="Admin" asp-route-Id="@item.Id" class="btn btn-outline-danger"> Sil</a></td>
    </tr>
    }
    </tbody>
</table>
<div class=" offset-9">
    <a class="btn btn-outline-secondary " asp-controller="Admin" asp-action="RegisterStudent" asp-area="Admin">Öğrenci Ekle</a>
</div>


