@model PersonDetailsViewModel
@{
    ViewData["Title"] = "StudentDetailsList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>StudentDetailsList</h1>
<div asp-validation-summary="ModelOnly" class="alert-danger"></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>Öğrenci Numarası</th>
            <th>Sınıf</th>
            <th>Şube</th>
            <th>Email</th>
            <th>Telefon Numarası</th>
            <th>Anne Telefon Numarası</th>
            <th>Baba Telefon Numarası</th>
            <th>Anne İsim</th>
            <th>Baba İsim</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Surname</td>
            <td>@Model.StudentNumber</td>
            <td>@Model.Grade</td>
            <td>@Model.Branch</td>
            <td>@Model.Email</td>
            <td>@Model.PhoneNumber</td>
            <td>@Model.MotherNumber</td>
            <td>@Model.FatherNumber</td>
            <td>@Model.MotherFullName</td>
            <td>@Model.FatherFullName</td>
            <td> <a asp-area="Admin" asp-action="EditStudent" asp-controller="Admin" asp-route-id="@Model.Id" class="btn btn-outline-success">Güncelle</a></td>
            <td><a asp-area="Admin" asp-action="DeleteStudent" asp-controller="Admin" asp-route-id="@Model.Id" class="btn btn-outline-danger"> Sil</a></td>
        </tr>

    </tbody>
</table>
<div class=" offset-9">
    <a class="btn btn-outline-secondary " asp-controller="Admin" asp-action="StudentList" asp-area="Admin">Öğrenci Listesine Geri Dön</a>
</div>
