@model List<PersonViewModel>
@{
    ViewData["Title"] = "StudentList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@{
    var disableButton = ViewBag.ShowButton != null && !(bool)ViewBag.ShowButton;
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-warning" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
<form id="filterForm">
    <label for="grade">Sınıf:</label>
    <select id="grade" name="grade" class="form-control">
        <option value="">Sınıf Seçiniz</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select>
    <label for="branch">Şube:</label>
    <select id="branch" name="branch" class="form-control">
        <option value="">Şube Seçiniz</option>
        <option value="A">A Şubesi</option>
        <option value="B">B Şubesi</option>
        <option value="C">C Şubesi</option>
        <option value="D">D Şubesi</option>
        <!-- Diğer şube seçenekleri buraya eklenebilir -->
    </select>
    <button type="submit" onclick="filterStudents()" onsubmit="return false;" asp-area="Admin" asp-action="FilterStudentList" asp-controller="Admin">Filtrele</button>
</form>

<div asp-validation-summary="ModelOnly" class="alert-danger"></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>Öğrenci Numarası</th>
            <th>Sınıf</th>
            <th>Şube</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.StudentNumber</td>
                <td>@item.Grade</td>
                <td>@item.Branch</td>
                <td><a asp-area="Admin" asp-action="DetailsStudent" asp-controller="Admin" asp-route-roleId="@item.Id" class="btn btn-outline-danger"> Detaylar</a></td>
                <td> <a asp-area="Admin" asp-action="EditStudent" asp-controller="Admin" asp-route-roleId="@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                <td><a asp-area="Admin" asp-action="DeleteStudent" asp-controller="Admin" asp-route-roleId="@item.Id" class="btn btn-outline-danger"> Sil</a></td>
                <td><a asp-area="Admin" asp-action="AddAttendance" asp-controller="Admin" asp-route-Id="@item.Id" class="btn btn-outline-danger"> Devamsızlık Gir</a></td>
            </tr>
        }
    </tbody>
</table>
<div class=" offset-9">
    <a class="btn btn-outline-secondary " asp-controller="Admin" asp-action="RegisterStudent" asp-area="Admin">Öğrenci Ekle</a>
</div>

<div class="offset-2">
    <div class="offset-2">
        <input type="checkbox" id="checkboxId">
        <label for="checkboxId">Devamsızlık bilgileri girildiyse işaretleyiniz </label>
        <form asp-controller="Admin" asp-action="SendSms" asp-area="Admin" method="post">
            <button type="submit" id="submitButton" class="btn btn-primary" disabled>Sms Gönder</button>
        </form>
    </div>
</div>


<script>
    function filterStudents() {
        var grade = document.getElementById('grade').value;
        var branch = document.getElementById('branch').value;
        // console.log('Grade: ' + grade); test için kullandım 
        // console.log('Branch: ' + branch);
        window.location.href = '/Admin/Admin/FilterStudentList?grade=' + grade + '&branch=' + branch;
    }
</script>

<script>
    document.getElementById('checkboxId').addEventListener('change', function () {
        if (this.checked) {
            document.getElementById('submitButton').removeAttribute('disabled');
        } else {
            document.getElementById('submitButton').setAttribute('disabled', 'disabled');
        }
    });
</script>

<script>
    document.getElementById('submitButton').addEventListener('click', function () {
        Swal.fire({
            title: 'İşlem Başarılı',
            text: 'Sms gönderimi planlandı',
            icon: 'success', 
            confirmButtonText: 'Tamam' 
        });
    });
</script>


