@model List<Person>
@using Entities;
@{
    ViewData["Title"] = "GetStudentsBranchsStudentsList";
    Layout = "~/Views/Shared/_StudentPanelLayout.cshtml";
}

@{
    string studentsClass = TempData["StudentsClass"] as string;
    string studentsBranch = TempData["StudentsBranch"] as string;
}
@section CustomHeader{
    <style>
        .student-info {
            font-size: 20px; /* Dilediğiniz boyuta ayarlayabilirsiniz */
            line-height: 1.4; /* İstenilen satır yüksekliği */
        }
    </style>

    <h1>
        <div class="student-info">
            <div>
                <span<strong>Adı Soyadı: </strong>@TempData["StudentName"] @TempData["StudentSurname"]</span><br />
                <span><strong>Numarası: </strong>@TempData["StudentNumber"]</span><br />
                <span><strong>Sınıfı: </strong>@TempData["StudentGrade"]</span>
                <span>@TempData["StudentBranch"]</span>
            </div>
        </div>
    </h1>
}




@if (!string.IsNullOrEmpty(studentsClass) && !string.IsNullOrEmpty(studentsBranch))
{
    <h2>@studentsClass-@studentsBranch Sınıfı Öğrenci Listesi</h2>
}

@if (Model != null && Model.Any())
{
    <table class="table table-bordered">
   
            <tr>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Email</th>
                <th>Öğrenci Numarası</th>
            </tr>
     
     
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Name</td>
                    <td>@student.Surname</td>
                    <td>@student.Email</td>
                    <td>@student.StudentNumber</td>
                    
                </tr>
            }
        
    </table>
}
else
{
    <p>No other students found in the same branch.</p>
}

