@using UI.Models
@model StudentViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StudentPanelLayout.cshtml";
}

@section CustomHeader{
    <style>
        .student-info {
            font-size: 20px; /* Dilediğiniz boyuta ayarlayabilirsiniz */
            line-height: 1.4; /* İstenilen satır yüksekliği */
        }
    </style>

    <h1>
        <div class="student-info">
            <div>
                <span<strong>Adı Soyadı: </strong>@Model.Name @Model.Surname</span><br />
                <span><strong>Numarası: </strong>@Model.StudentNumber</span><br />
                <span><strong>Sınıfı: </strong>@Model.Grade</span>
                <span>@Model.Branch</span>
            </div>
        </div>
    </h1>
}