@using Business.Concrete
@using Entities;
@model List<Entities.Attendance>

@{
    ViewData["Title"] = "TotalAbsencesDayList";
    Layout = "~/Views/Shared/_StudentPanelLayout.cshtml";
}

<h1>Öğrenciye Ait Devamsızlık Bilgileri</h1>

<table class="table table-bordered">
    <tr>

        <th>Devamsızlık Tarihi</th>
        <th>Devamsızlık Ders Saati</th>
        <th>Devamsızlık Türü</th>
        <th>Devamsızlık Sebebi</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Date.ToShortDateString()</td>
            <td>
                @if (item.AttendanceLectureHour == null)
                {
                    @:Öğrenci tam gün devamsızlık yapmıştır.
                }
                else
                {
                    <text>@item.AttendanceLectureHour.ToString() .Ders Saati</text>
                }
            </td>
            <td>
                @if (item.AttendanceType == AttendanceType.TamGün)
                {
                    <text>Tam Gün</text>
                }
                else if (item.AttendanceType == AttendanceType.YarımGün)
                {
                    <text>Yarım Gün</text>
                }
            </td>
            <td>@item.ExcuseType</td>
        </tr>
    }
  
</table>

<table class="table table-bordered">
    <tr>
        <th>Toplam Devamsızlık Gün Sayısı</th>
    </tr>
    <tr>
        <td>@TempData["AttendancesCount"]</td>
    </tr>
    <tr>
        <th>Özürlü Devamsızlık Gün Sayısı</th>
    </tr>
    <tr>
        <td>@TempData["ExcusedAttendancesCount"]</td>
    </tr>
    <tr>
        <th>Özürsüz Devamsızlık Gün Sayısı</th>
    </tr>
    <tr>
        <td>@TempData["NonExcusedAttendancesCount"]</td>
    </tr>
</table>



