@using Business.Concrete
@model Entities.Person
@{
    ViewData["Title"] = "UserInformation";
    Layout = "~/Views/Shared/_StudentPanelLayout.cshtml";
}
@section CustomHeader{
    <style>
        .student-info {
            font-size: 20px; /* Dilediğiniz boyuta ayarlayabilirsiniz */
            line-height: 1.4; /* İstenilen satır yüksekliği */
        }
    </style>

    <h1>
        <div class="student-info">
            <div>
                <span<strong>Adı Soyadı: </strong>@TempData["StudentName"] @TempData["StudentSurname"]</span><br />
                <span><strong>Numarası: </strong>@TempData["StudentNumber"]</span><br />
                <span><strong>Sınıfı: </strong>@TempData["StudentGrade"]</span>
                <span>@TempData["StudentBranch"]</span>
            </div>
        </div>
    </h1>
}
@if (Model != null)
{
    <h2>Öğrenci Bilgileri</h2>

    <table class="table table-bordered">
        <tr>
            <th>Öğrenci Adı</th>
            <th>Öğrenci Soyadı</th>
            <th>Öğrenci Numarası</th>
            <th>Sınıfı</th>
            <th>Şubesi</th>
            <th>Cinsiyet</th>
            <th>Doğum Tarihi</th>
            <th>Email</th>
        </tr>

        <tr>
            <td>@Model.Name</td>
            <td>@Model.Surname</td>
            <td>@Model.StudentNumber</td>
            <td>@Model.Grade</td>
            <td>@Model.Branch</td>
            <td>@Model.Gender</td>
            <td>@Model.BirthDate</td>
            <td>@Model.Email</td>
        </tr>
    </table>

    @if (Model.FamilyInfo != null)
    {
        <h2>Öğrenci Aile Bilgileri</h2>

        <table class="table table-bordered">
            <tr>
                <th>Anne Adı</th>
                <th>Anne Telefon Numarası</th>
                <th>Baba Adı</th>
                <th>Baba Telefon Numarası</th>
            </tr>

            <tr>
                <td>@Model.FamilyInfo.MotherFullName</td>
                <td>@Model.FamilyInfo.MotherPhoneNumber</td>
                <td>@Model.FamilyInfo.FatherFullName</td>
                <td>@Model.FamilyInfo.FatherPhoneNumber</td>
            </tr>
        </table>
    }
    else
    {
        <p>Öğrenci aile bilgileri bulunamadı.</p>
    }
}
else
{
    <p>Öğrenci bilgileri bulunamadı.</p>
}